lib/


############
## Java
############
*.class

# Package Files #
*.jar
*.war
*.ear

############
## Windows
############
# Batch scripts
.bat

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#################
## Sublime Text 2
#################
*.sublime-*